html {
  margin: 0;
  background: linear-gradient(-213deg, #0f2027, #203a43, #223e4a);
}

* {
  font-family: "VT323", monospace;
}

.main {
  flex: 1;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background-image: url("./bg_scaled.png");
  background-repeat: repeat;
  background-size: 30rem;
}

.header {
  .logos {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;

    .etournity {
      mix-blend-mode: screen;
      height: 4.5rem;
    }

    .ldjam {
      height: 10rem;
    }

    span {
      font-size: 6rem;
      color: white;
    }
  }

  .etournity {
    mix-blend-mode: screen;
  }

  .game {
    height: 18rem;
    margin-top: -4rem;
  }
}

.buttons {
  display: flex;
  margin: 1rem 1.5rem;
}

$outline-width: 6px;
$shadow-width: 4px;

$button-background: #92cd41;
$sec-button-background: #76c442;
$shadow-color: #4aa52e;

$alt-button-background: #f7d51d;
$alt-sec-button-background: #f2c409;
$alt-shadow-color: #e59400;

$reset-button-background: #e76e55;
$reset-sec-button-background: #ce372b;
$reset-shadow-color: #8c2022;

button {
  margin: 0 0.5rem;
  background: $button-background;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
  box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $shadow-color;

  &:hover,
  &:focus {
    background: $sec-button-background;
    box-shadow: inset (-$shadow-width * 1.5) (-$shadow-width * 1.5) 0px 0px
      $shadow-color;
  }

  &:active {
    box-shadow: inset $shadow-width $shadow-width 0px 0px $shadow-color;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }

  &:before {
    top: -$outline-width;
    left: 0;
    border-top: $outline-width black solid;
    border-bottom: $outline-width black solid;
  }

  &:after {
    left: -$outline-width;
    top: 0;
    border-left: $outline-width black solid;
    border-right: $outline-width black solid;
  }

  &.red {
    background: $reset-button-background;
    box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px
      $reset-shadow-color;

    &:hover,
    &:focus {
      background: $reset-sec-button-background;
      box-shadow: inset (-$shadow-width * 1.5) (-$shadow-width * 1.5) 0px 0px
        $reset-shadow-color;
    }

    &:active {
      box-shadow: inset $shadow-width $shadow-width 0px 0px $reset-shadow-color;
    }
  }

  &.yellow {
    background: $alt-button-background;
    box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px
      $alt-shadow-color;

    &:hover,
    &:focus {
      background: $alt-sec-button-background;
      box-shadow: inset (-$shadow-width * 1.5) (-$shadow-width * 1.5) 0px 0px
        $alt-shadow-color;
    }

    &:active {
      box-shadow: inset $shadow-width $shadow-width 0px 0px $alt-shadow-color;
    }
  }
}
